{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <h1 class="lol">Palindrome</h1>
    <form action="{% url 'palindrome_form' %}">
        <input class="form-control mr-sm-2 mt-5 b" type="search" placeholder="Search" aria-label="Search" name="palindrome">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
        {% if palindrome_text %}
            <p class="alert alert-dark" role="alert">{{ palindrome_text }}</p>
            <p class="alert alert-success">{{ palindrome_converted }}</p>
        {% else %}
            <p class="text-primary">Here you can find your palindrome</p>
        {% endif %}
</div>
{% endblock %}